.headerContainer {
  display: flex;
  background-color: rgb(236, 29, 36);
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logoContainer {
  width: 100px;
}

.logo {
  width: 100%;
  margin-left: 15px;
}

.nav {
  font-size: 20px;
}

.navItem {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s all;
  text-decoration: none;
  color: rgb(255, 186, 59);
  margin-right: 10px;

  &:hover {
    color: white;
    transition: 0.2s all;
  }
}
