.header {
  border-bottom: 1px solid $gray-line;
  padding: 25px 0;
  background-color: rgb(236, 29, 36);
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__text {
    display: flex;

    h3 {
      color: rgb(255, 186, 59);
      margin-right: 10px;
    }
  }

  &__logo {
    display: flex;
  }
}
